
@font-face {
    font-family: 'yekan';
    font-weight: normal;
    font-style: normal;
    src: url('../font/yekan/Yekan.eot') format('embedded-opentype'),url('../font/yekan/Yekan.ttf') format('truetype'),url('../font/yekan/Yekan.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'yekan',tahoma !important;
    background-color: rgb(251,251,251);
}


a {
    text-align: center;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: green;
    }

.list-list {
    list-style: none;
    line-height: 25px;
    padding-top: 8px;
}

    .list-list a {
        font-size: 12px;
    }
.ul-title-tabs-color{
    color: #ff6a00;
}


#header {
    color: brown;
}

.advers div img {
    border-radius: 3px;
}

.news-header {
    color: green;
    margin-right: 10px;
}

.hr-divider {
    color: green;
    border: 1px solid;
    margin-top: 8px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 8px;
}

.last-info {
    border-radius: 2px;
    border: 1px solid rgb(200,200,200);
    background-color: white;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 3px;
    margin-bottom: 10px;
}
